body{
font-family: 'Times New Roman';
}

.home-page{
    background-color: rgba(48, 166, 52, 0.897); 
}
.gallery-page{
    background-color: rgb(7, 235, 102);
}
.navbar{
    background-color: rgb(26, 179, 24);
    display:flex ;
    justify-content: space-evenly ;
    padding-top: 2%; 
padding-bottom: 2%;
}
.navbar a{
    font-size: large;
    text-decoration: none;
}
.home-content-div{
   text-align: center;
   font-family: 'Times New Roman';
}
.home-content-div{
   font-size:large ; 
}
   .facts-content-div-li{
     margin-left:10% ;
   }
   .facts-content-div-li{
    font-size: large;
   }

   .gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .gallery-content button{
    border-radius: 40%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(61, 61, 197);
    font-weight: bold;
    font-size: x-large;
    height: 1%;
   }