body{
font-family: 'Times New Roman';
}

.home-page{
    background-image: url("https://images.unsplash.com/photo-1532186773960-85649e5cb70b?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 1000px 50px;
    background-repeat: no-repeat;
}
.gallery-page{
    background-color: rgb(77, 202, 129);
}
.navbar{
    background-color: rgb(38, 107, 36);
    display:flex ;
    justify-content: space-evenly ;
    padding-top: 2%; 
padding-bottom: 2%;
}
.navbar a{
    font-size: large;
    text-decoration: none;
}
.home-content-div{
   text-align: center;
   font-family: 'Times New Roman';
}
.home-content-div{
   font-size:large ; 
}


   .gallery-content button{
    border-radius: 40%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(61, 61, 197);
    font-weight: bold;
    font-size: x-large;
    height: 1%;
   }